body {
  background-color: #EBE7E0;
}

h1{
  color: #BDB8AD;
  background-color: #2B4C7E;
}

h3 {
  color: #774F38;
}

a {
  color: blue;
}

.bodyparagraphs {
  color: #774F38;
  width: 60%;
  float: left;
}


.nav-tab{
  width: 25%;
  float: left;
  background-color: #CACACA;
  color: #2B4C7E;
  display: block;
  font-size: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.nav-tab:hover{
  background-color: #F38630;
  color: #F38630;
}

.navigation {
  color: #2B4C7E;
}

p{
  color: #000000;
}

.listformat {
  color: #1F1F20;
}

.span {
  font-weight: bold;
}

#footer {
   bottom: 0;
   text-align: center;
}
/*
Color Palette adapted from:
http://www.colourlovers.com/palette/59867/Blown_Entrepreneur

Corporate Cobalt:  #44749D
Light Blue: #C6D4E1
White: #FFFFFF
So Sleepy: #EBE7E0
Corporate Bay: #BDB8AD
Dark Grey: #595A57
Dark Blue: #26408F
Black: #000000
Light Brown: #7A6A53
Evening Sky-Blue: #0B108C
*/
